<header class="header">
    <ul class="header__list">
        <dt class="header__list__community" routerLink="/community" (click)="color('community')">Comunidade</dt>
        <dt class="header__list__favorites" routerLink="/favorites" (click)="color('favorites')">Favoritos</dt>
        <dt class="header__list__watched" routerLink="/watched" (click)="color('watched')">Assistidos</dt>
        <img class="header__list__plus" routerLink="/addfilme" src="../../../assets/plus.png" alt="">
    </ul>
</header>
